server {
    listen 80;
    listen [::]:80;
    server_name schedule.example.org;

    return 301 https://schedule.example.org$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name schedule.example.org;

    ssl_certificate /etc/letsencrypt/live/schedule.example.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/schedule.example.org/privkey.pem;

    root /var/www/schedule/public;
    index index.php;
    charset utf-8;

    add_header Strict-Transport-Security "max-age=31536000" always;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        try_files $uri =404;
        include /etc/nginx/fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/run/php/php8.2-fpm.sock;
    }

    location ~ /\. {
        deny all;
    }
}
